__pycache__/
recibos_django/__pycache__/
recibos/__pycache__/
recibos/migrations/__pycache__/
recibos/src/__pycache__/

# Ignore the .env file
.env

# Ignore the .vscode folder
.vscode/

# Ignore the .idea folder
.idea/

# Ignore PDF files
*.pdf

# Ignore database files
*.db
*.sqlite3


# Ignore all __pycache__ folders
**/__pycache__/
requirements_old.txt
GEMINI.md