<!-- update_tenants.html -->
{% extends 'contratos/base.html' %}

{% block title %}Contratos{% endblock %}

{% block header %}
    <!-- Additional header content specific to generate_pdfs.html can be added here if needed -->
    <h1>Mis Contratos</h1>
{% endblock %}

{% block content %}

    <style>
        body {

        }
        .container {
            margin-top: 0px;
            margin-bottom: 100px;
        }
        .card {
            width: 100%;
            margin-bottom: 20px;
            box-shadow: 0 10px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            transition: transform 0.2s;
            border: 1px solid #9ea3a5; /* Subtle border color */
            border-radius: 8px;
        }
        .card:hover {
            transform: scale(1.02);
        }

        .card-body {
            padding: 20px;
        }
        .card-body h6 {

            color:  #686d6e;
        }

    .bold-label {
        font-weight: bold;
    }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            font-size: 16px;
            color: #455a64; /* Dark gray text color */
        }
        input {
            width: 100%;
            font-size: 16px;
        }
        .btn {
            font-size: 14px;
            border-radius: 5px;
            margin-top: 10px; /* Adjusted margin for better spacing */
        }
        /* Increase the contrast of secondary button */
        .btn-secondary {
            background-color: #546e7a; /* Slightly darker teal */
            border-color: #546e7a;
            color: #fff; /* White text color */
            margin-top: 10px; /* Adjusted margin for better spacing */
        }
    </style>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css">
<body>
    <div class="container">
        En esta sección podrás ver y editar tus contratos
                    <!-- Buttons customization -->
                    <div class="d-flex mt-3">
                        <a href="{% url 'generate_pdfs' %}" class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-arrow-left"></i> ← Atrás
                        </a>
                        <div class="flex-grow-1 ml-2">
                            <a href="{% url 'add_contract' %}" class="btn btn-success btn-block">
                                &#43;  Nuevo Contrato
                            </a>
                        </div>
                    </div>
                    <br>
{% for tenant in contracts %}
    <div class="card">
        <div class="card-header">
            {{ tenant.nombre_arrendatario }}
        </div>
        <div class="card-body">
            <h6>
                <span class="bold-label">Fecha Vencimiento:</span> {{ tenant.fecha_vencimiento_contrato }}
            </h6>
            <h6>
                <span class="bold-label">Dia de pago:</span> {{ tenant.dia_de_pago }} de cada mes
            </h6>
            <h6>
                <span class="bold-label">Renta:</span> ${{ tenant.renta }} MXN
            </h6>
            <a href="{% url 'create_contract_pdf' contract_id=tenant.id %}" class="btn btn-secondary">Descagar copia contrato</a>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <!--a href="{% url 'update_contract' id=tenant.id %}" class="btn btn-primary btn-block">Editar</a-->
                    <a href="{% url 'delete_contract' id=tenant.id %}" class="btn btn-outline-danger btn-block mt-2">Borrar</a>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <div class="alert alert-warning" role="alert">
        No hay contratos disponibles. Puedes crear uno nuevo.
    </div>
{% endfor %}


        <a href="{% url 'generate_pdfs' %}" class="btn btn-secondary btn-block mt-3">← Atrás</a>
    </div>

</body>
</html>
{% endblock %}
