<!-- generate_pdfs.html -->
{% extends 'recibos/base.html' %}

{% block title %}Generador de Recibos{% endblock %}

{% block header %}
    <!-- Additional header content specific to generate_pdfs.html can be added here if needed -->
    <h1>Generador de Recibos</h1>
{% endblock %}

{% block content %}


    <div class="container">
        <div class="line"></div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link nav-link-inquilinos" href="{% url 'update_tenants' %}">
                    <i class="bi bi-eye"></i> Ver y Modificar Inquilinos
                </a>
            </li>
        </ul>
        <div class="card">
            <div class="card-header">
                <h5>Generador de Recibos</h5>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'generate_pdfs' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="monthSelect">Selecciona el mes:</label>
                        <select class="form-control" id="monthSelect" name="month">
                            <option value="enero">Enero</option>
                            <option value="febrero">Febrero</option>
                            <option value="marzo">Marzo</option>
                            <option value="abril">Abril</option>
                            <option value="mayo">Mayo</option>
                            <option value="junio">Junio</option>
                            <option value="julio">Julio</option>
                            <option value="agosto">Agosto</option>
                            <option value="septiembre">Septiembre</option>
                            <option value="octubre">Octubre</option>
                            <option value="noviembre">Noviembre</option>
                            <option value="diciembre">Diciembre</option>
                            <!-- ... (other options) -->
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Generar Recibos</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
