<!-- generate_pdfs.html -->

{% extends 'recibos/base.html' %}

{% block title %}Generador de Recibos{% endblock %}

{% block header %}
    <!-- Additional header content specific to generate_pdfs.html can be added here if needed -->
    <h1>Generador de Recibos</h1>
{% endblock %}

{% block content %}
<style>
    .custom-btn {
        text-decoration: underline;
        color: blue;
    }
    .btn-dark-yellow {
        background-color: #ec94f8; /* Dark yellow */
        color: white;
        border: none;
    }
    .btn-dark-yellow:hover {
        background-color: #bb4096; /* Slightly darker yellow for hover */
    }
</style>

    <div class="container"></style>
        <div style="text-align: left; color: #343a40; font-size: 16px; margin-bottom: 10px;">
            Hola, {{ request.user.username }}
        </div>
        <div class="line"></div>
        <div class="btn-group" role="group" aria-label="Navigation Links">
            <a href="{% url 'recibos:update_tenants' %}" class="btn btn-outline-secondary custom-btn">
                <i class="bi bi-eye"></i> Editar Inquilinos/Recibos
            </a>
            <a href="{% url 'contratos:all_contracts' %}" class="btn btn-outline-secondary custom-btn">
                <i class="bi bi-eye"></i> Contratos
            </a>
        </div>
        
        
        <div class="card shadow-lg">
            <div class="card-header">
                <h5>Generador de Recibos</h5>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'recibos:generate_pdfs' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="monthSelect">Selecciona el mes:</label>
                        <select class="form-control" id="monthSelect" name="month">
                            <option value="enero">Enero</option>
                            <option value="febrero">Febrero</option>
                            <option value="marzo">Marzo</option>
                            <option value="abril">Abril</option>
                            <option value="mayo">Mayo</option>
                            <option value="junio">Junio</option>
                            <option value="julio">Julio</option>
                            <option value="agosto">Agosto</option>
                            <option value="septiembre">Septiembre</option>
                            <option value="octubre">Octubre</option>
                            <option value="noviembre">Noviembre</option>
                            <option value="diciembre">Diciembre</option>
                            <!-- ... (other options) -->
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Generar Recibos</button>
                </form>
            </div>
        </div>

        <div class="card shadow-lg mt-4">
            <div class="card-header">
                <h5>Generar Otro Recibo Una Sola Vez</h5>
            </div>
            <div class="card-body text-center">
                <a href="{% url 'on_demand:generate_recibo_on_demand' %}" class="btn btn-dark-yellow btn-block" style="color: #343a40;">Generar Recibo Una Sola Vez</a>
            </div>
        </div>

        <div class="card shadow-lg mt-4">
            <div class="card-header">
                <h5>Terminación y Entrega</h5>
            </div>
            <div class="card-body text-center">
                <a href="{% url 'on_demand:generate_terminacion_entrega_una_sola_vez' %}" class="btn btn-dark-yellow btn-block" style="color: #343a40;">Terminación y Entrega</a>
            </div>
        </div>

    </div>
{% endblock %}
