<!-- pdf_generated.html -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recibos generados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #28a745;
            color: #000; /* Set the text color to black */
        }
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Los recibos para el mes de {{ month }} han sido enviados por correo.</h1>
                <a href="{% url 'generate_pdfs' %}" class="btn btn-primary">Atras</a>
            </div>
        </div>
    </div>
</body>
</html>
