{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Generar Convenio Terminación/Entrega</h1>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'on_demand:generate_terminacion_entrega_una_sola_vez' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <select id="titulo" name="titulo" class="form-control" required>
                        <option value="SR.">SR.</option>
                        <option value="SRA.">SRA.</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Nombre del inquilino</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Ingrese el nombre completo del inquilino" required>
                </div>
                <div class="form-group">
                    <label for="propiedad">Propiedad</label>
                    <select id="propiedad" name="propiedad" class="form-control" required>
                        <option value="Noche de Paz #14, Colonia Granjas Navidad, Delegación Cuajimalpa, C.P. 05219">
                            Noche de Paz #14, Colonia Granjas Navidad, Delegación Cuajimalpa, C.P. 05219
                        </option>
                        <option value="2do. Retorno de Loma del Recuerdo # 70, Colonia Lomas de Vista Hermosa, Delegación Cuajimalpa, C.P. 05100">
                            2do. Retorno de Loma del Recuerdo # 70, Colonia Lomas de Vista Hermosa, Delegación Cuajimalpa, C.P. 05100
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="local">Local/depto.</label>
                    <input type="text" id="local" name="local" class="form-control" placeholder="Ej. 5D, C, etc." required>
                </div>
                <div class="form-group">
                    <label for="comienzo_contrato">Fecha de inicio del contrato</label>
                    <input type="text" id="comienzo_contrato" name="comienzo_contrato" class="form-control" placeholder="Ej. 15/05/2023" required>
                </div>
                <div class="form-group">
                    <label for="terminacion_contrato">Fecha de terminación del contrato</label>
                    <input type="text" id="terminacion_contrato" name="terminacion_contrato" class="form-control" placeholder="Ej. 14/05/2024" required>
                </div>

                <button type="submit" class="btn btn-primary">Generar Convenio</button>
            </form>
            <br><div class="d-flex mt-3">
                <a href="{% url 'recibos:generate_pdfs' %}" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-arrow-left"></i> ← Atrás
                </a></div>
        </div>
    </div>
    <br><br>
</div>

{% endblock %}